<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>博客</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../css/me.css">
</head>
<body>

<!--导航-->
<nav th:replace="_fragments :: menu(1)" class="ui inverted attached segment m-padded-tb-mini">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">Blog</h2>
            <a href="#" class="active m-item item m-mobile-hide"><i class="home icon"></i>首页</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="idea icon"></i>分类</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="tags icon"></i>标签</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="clone icon"></i>归档</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="info icon"></i>关于我</a>
            <div class="right m-item item m-mobile-hide">
                <div class="ui icon input">
                    <input type="text" placeholder="Search....">
                    <i class="search link icon"></i>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>

<!--中间内容-->
<div class="m-container m-padded-tb-large">
    <div class="ui container">
        <div class="ui stackable grid">
            <!--左边列表-->
            <div class="eleven wide column">
                <!--header-->
                <div class="ui top attached segment">
                    <div class="ui middle aligned two column grid">
                        <div class="column">
                            <h3 class="ui teal header">博客</h3>
                        </div>
                        <div class="right aligned column">
                            共 <h2 class="ui orange header m-inline-block m-text-thin" th:text="${page.totalElements}">
                            14</h2> 篇
                        </div>
                    </div>
                </div>

                <!--context-->
                <div class="ui attached segment">
                    <div class="ui padded vertical segment m-padded-tb-large" th:each="blog : ${page.content}">
                        <div class="ui middle aligned mobile reversed stackable padded vertical grid">
                            <div class="eleven wide column">
                                <h3 class="ui center aligned header"><a href="#" th:href="@{/blog/{id}(id=${blog.id})}"
                                                                        target="_blank" class="m-inline-block"
                                                                        th:text="${blog.title}">你真的理解什么是财富自由吗？</a></h3>
                                <p class="m-text" th:text="|${blog.description}.......|">正确做好任何一件事情的前提是清晰、正确的理解目标。而是事实，
                                    我们很多人很多时候根本没有对目标正确定义，甚至根本从来就没有想过，大家就是那样做而已......</p>
                                <div class="ui grid">
                                    <div class="twelve wide column">
                                        <div class="ui horizontal link list">
                                            <div class="item">
                                                <img src="https://picsum.photos/id/1009/100/100" alt=""
                                                     class="ui avatar image" th:src="@{${blog.user.avatar}}">
                                                <div class="content"><a href="#" class="header"
                                                                        th:text="${blog.user.nickname}">蒙明杰</a></div>
                                            </div>
                                            <div class="item">
                                                <i class="calendar icon"></i><span
                                                    th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd')}">2020-02-06</span>
                                            </div>
                                            <div class="item">
                                                <i class="eye icon"></i><span th:text="${blog.views}">2324</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="four wide column">
                                        <a href="#" class="ui teal basic label m-padded-tiny m-text-thin"
                                           th:text="${blog.type.name}">认知升级</a>
                                    </div>
                                </div>
                            </div>
                            <div class="five wide column">
                                <a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank">
                                    <img src="https://picsum.photos/id/259/400/300" alt=""
                                         th:src="@{${blog.firstPicture}}" class="ui rounded image">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!--/*-->
                <div class="ui attached segment">
                    <div class="ui mobile reversed stackable padded vertical grid">
                        <div class="eleven wide column">
                            <h3 class="ui center aligned header">你真的理解什么是财富自由吗？</h3>
                            <p class="m-text">正确做好任何一件事情的前提是清晰、正确的理解目标。而是事实，
                                我们很多人很多时候根本没有对目标正确定义，甚至根本从来就没有想过，大家就是那样做而已......</p>
                            <div class="ui grid">
                                <div class="twelve wide column">
                                    <div class="ui horizontal link list">
                                        <div class="item">
                                            <img src="https://picsum.photos/id/1009/100/100" alt=""
                                                 class="ui avatar image">
                                            <div class="content"><a href="#" class="header">蒙明杰</a></div>
                                        </div>
                                        <div class="item">
                                            <i class="calendar icon"></i>2020-02-06
                                        </div>
                                        <div class="item">
                                            <i class="eye icon"></i>2324
                                        </div>
                                    </div>
                                </div>
                                <div class="four wide column">
                                    <a href="#" class="ui teal basic label m-padded-tiny m-text-thin">认知升级</a>
                                </div>
                            </div>
                        </div>
                        <div class="five wide column">
                            <a href="#" target="_blank">
                                <img src="https://picsum.photos/id/259/400/300" alt="" class="ui rounded image">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="ui attached segment">
                    <div class="ui mobile reversed stackable padded vertical grid">
                        <div class="eleven wide column">
                            <h3 class="ui center aligned header">你真的理解什么是财富自由吗？</h3>
                            <p class="m-text">正确做好任何一件事情的前提是清晰、正确的理解目标。而是事实，
                                我们很多人很多时候根本没有对目标正确定义，甚至根本从来就没有想过，大家就是那样做而已......</p>
                            <div class="ui grid">
                                <div class="twelve wide column">
                                    <div class="ui horizontal link list">
                                        <div class="item">
                                            <img src="https://picsum.photos/id/1009/100/100" alt=""
                                                 class="ui avatar image">
                                            <div class="content"><a href="#" class="header">蒙明杰</a></div>
                                        </div>
                                        <div class="item">
                                            <i class="calendar icon"></i>2020-02-06
                                        </div>
                                        <div class="item">
                                            <i class="eye icon"></i>2324
                                        </div>
                                    </div>
                                </div>
                                <div class="four wide column">
                                    <a href="#" class="ui teal basic label m-padded-tiny m-text-thin">认知升级</a>
                                </div>
                            </div>
                        </div>
                        <div class="five wide column">
                            <a href="#" target="_blank">
                                <img src="https://picsum.photos/id/259/400/300" alt="" class="ui rounded image">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="ui attached segment">
                    <div class="ui mobile reversed stackable padded vertical grid">
                        <div class="eleven wide column">
                            <h3 class="ui center aligned header">你真的理解什么是财富自由吗？</h3>
                            <p class="m-text">正确做好任何一件事情的前提是清晰、正确的理解目标。而是事实，
                                我们很多人很多时候根本没有对目标正确定义，甚至根本从来就没有想过，大家就是那样做而已......</p>
                            <div class="ui grid">
                                <div class="twelve wide column">
                                    <div class="ui horizontal link list">
                                        <div class="item">
                                            <img src="https://picsum.photos/id/1009/100/100" alt=""
                                                 class="ui avatar image">
                                            <div class="content"><a href="#" class="header">蒙明杰</a></div>
                                        </div>
                                        <div class="item">
                                            <i class="calendar icon"></i>2020-02-06
                                        </div>
                                        <div class="item">
                                            <i class="eye icon"></i>2324
                                        </div>
                                    </div>
                                </div>
                                <div class="four wide column">
                                    <a href="#" class="ui teal basic label m-padded-tiny m-text-thin">认知升级</a>
                                </div>
                            </div>
                        </div>
                        <div class="five wide column">
                            <a href="#" target="_blank">
                                <img src="https://picsum.photos/id/259/400/300" alt="" class="ui rounded image">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="ui attached segment">
                    <div class="ui mobile reversed stackable padded vertical grid">
                        <div class="eleven wide column">
                            <h3 class="ui center aligned header">你真的理解什么是财富自由吗？</h3>
                            <p class="m-text">正确做好任何一件事情的前提是清晰、正确的理解目标。而是事实，
                                我们很多人很多时候根本没有对目标正确定义，甚至根本从来就没有想过，大家就是那样做而已......</p>
                            <div class="ui grid">
                                <div class="twelve wide column">
                                    <div class="ui horizontal link list">
                                        <div class="item">
                                            <img src="https://picsum.photos/id/1009/100/100" alt=""
                                                 class="ui avatar image">
                                            <div class="content"><a href="#" class="header">蒙明杰</a></div>
                                        </div>
                                        <div class="item">
                                            <i class="calendar icon"></i>2020-02-06
                                        </div>
                                        <div class="item">
                                            <i class="eye icon"></i>2324
                                        </div>
                                    </div>
                                </div>
                                <div class="four wide column">
                                    <a href="#" class="ui teal basic label m-padded-tiny m-text-thin">认知升级</a>
                                </div>
                            </div>
                        </div>
                        <div class="five wide column">
                            <a href="#" target="_blank">
                                <img src="https://picsum.photos/id/259/400/300" alt="" class="ui rounded image">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="ui attached segment">
                    <div class="ui mobile reversed stackable padded vertical grid">
                        <div class="eleven wide column">
                            <h3 class="ui center aligned header">你真的理解什么是财富自由吗？</h3>
                            <p class="m-text">正确做好任何一件事情的前提是清晰、正确的理解目标。而是事实，
                                我们很多人很多时候根本没有对目标正确定义，甚至根本从来就没有想过，大家就是那样做而已......</p>
                            <div class="ui grid">
                                <div class="twelve wide column">
                                    <div class="ui horizontal link list">
                                        <div class="item">
                                            <img src="https://picsum.photos/id/1009/100/100" alt=""
                                                 class="ui avatar image">
                                            <div class="content"><a href="#" class="header">蒙明杰</a></div>
                                        </div>
                                        <div class="item">
                                            <i class="calendar icon"></i>2020-02-06
                                        </div>
                                        <div class="item">
                                            <i class="eye icon"></i>2324
                                        </div>
                                    </div>
                                </div>
                                <div class="four wide column">
                                    <a href="#" class="ui teal basic label m-padded-tiny m-text-thin">认知升级</a>
                                </div>
                            </div>
                        </div>
                        <div class="five wide column">
                            <a href="#" target="_blank">
                                <img src="https://picsum.photos/id/259/400/300" alt="" class="ui rounded image">
                            </a>
                        </div>
                    </div>
                </div>
                <!--*/-->

                <!--footer-->
                <div class="ui bottom attached segment" th:if="${page.totalPages} > 1">
                    <div class="ui middle aligned two column grid">
                        <div class="column">
                            <a href="#" th:href="@{/(page=${page.number}-1 )}" th:unless="${page.first}"
                               class="ui mini teal basic button">上一页</a>
                        </div>
                        <div class="right aligned column">
                            <a href="#" th:href="@{/(page=${page.number}+1 )}" th:unless="${page.last}"
                               class="ui mini teal basic button">下一页</a>
                        </div>
                    </div>
                </div>

            </div>
            <!--右边的top-->
            <div class="five wide column">

                <!--分类-->
                <div class="ui segments">
                    <div class="ui secondary segment">
                        <div class="ui two column grid">
                            <div class="column m-color"><i class="idea icon"></i>分类
                            </div>
                            <div class="right aligned column">
                                <a href="#" target="_blank" class="m-color">more <i
                                        class="angle double right icon m-color"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="ui teal segment">
                        <div class="ui fluid vertical menu">
                            <a href="#" class="item" th:each="type : ${types}">
                                <span th:text="${type.name}">学习日志</span>
                                <div class="ui teal basic left pointing label m-text-thin"><span
                                        th:text="${#arrays.length(type.blogs)}">13</span></div>
                            </a>
                            <!--/*-->
                            <a href="#" class="item">思考与感悟
                                <div class="ui teal basic left pointing label m-text-thin">8</div>
                            </a>
                            <a href="#" class="item">清单
                                <div class="ui teal basic left pointing label m-text-thin">18</div>
                            </a>
                            <a href="#" class="item">JavaScript
                                <div class="ui teal basic left pointing label m-text-thin">15</div>
                            </a>
                            <a href="#" class="item">创业
                                <div class="ui teal basic left pointing label m-text-thin">9</div>
                            </a>
                            <a href="#" class="item">认知升级
                                <div class="ui teal basic left pointing label m-text-thin">10</div>
                            </a>
                            <!--*/-->
                        </div>
                    </div>

                </div>

                <!--标签-->
                <div class="ui segments m-margin-tb-large">
                    <div class="ui secondary segment">
                        <div class="ui two column grid">
                            <div class="column m-color"><i class="tags icon"></i>标签
                            </div>
                            <div class="right aligned column">
                                <a href="#" target="_blank" class="m-color">more <i
                                        class="angle double right icon m-color"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="ui teal segment">
                        <a href="#" target="_blank" th:each="tag : ${tags}"
                           class="ui teal basic left pointing label m-margin-tb-tiny">
                            <span th:text="${tag.name}">方法论</span>
                            <div class="detail" th:text="${#arrays.length(tag.blogs)}">23</div>
                        </a>
                        <!--/*-->
                        <a href="#" target="_blank" class="ui teal basic left pointing label m-margin-tb-tiny"> 方法论
                            <div class="detail">23</div>
                        </a>
                        <a href="#" target="_blank" class="ui teal basic left pointing label m-margin-tb-tiny"> 方法论
                            <div class="detail">23</div>
                        </a>
                        <a href="#" target="_blank" class="ui teal basic left pointing label m-margin-tb-tiny"> 方法论
                            <div class="detail">23</div>
                        </a>
                        <a href="#" target="_blank" class="ui teal basic left pointing label m-margin-tb-tiny"> 方法论
                            <div class="detail">23</div>
                        </a>
                        <a href="#" target="_blank" class="ui teal basic left pointing label m-margin-tb-tiny"> 方法论
                            <div class="detail">23</div>
                        </a>
                        <a href="#" target="_blank" class="ui teal basic left pointing label m-margin-tb-tiny"> 方法论
                            <div class="detail">23</div>
                        </a>
                        <a href="#" target="_blank" class="ui teal basic left pointing label m-margin-tb-tiny"> 方法论
                            <div class="detail">23</div>
                        </a>
                        <a href="#" target="_blank" class="ui teal basic left pointing label m-margin-tb-tiny"> 方法论
                            <div class="detail">23</div>
                        </a>
                        <a href="#" target="_blank" class="ui teal basic left pointing label m-margin-tb-tiny"> 方法论
                            <div class="detail">23</div>
                        </a>
                        <!--*/-->
                    </div>
                </div>

                <!--最新推荐-->
                <div class="ui segments m-margin-tb-large">
                    <div class="ui secondary segment m-color">
                        <i class="bookmark icon"></i>最新推荐
                    </div>
                    <div class="ui segment" th:each="blog : ${recommendBlogs}">
                        <a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank" th:text="${blog.title}">我的故事
                            (My Story) </a>
                    </div>
                    <!--/*-->
                    <div class="ui segment">
                        <a href="#" target="_blank">你真正理解什么是“财富自由吗”？</a>
                    </div>
                    <div class="ui segment">
                        <a href="#" target="_blank">失败要坚强 </a>
                    </div>
                    <div class="ui segment">
                        <a href="#" target="_blank">关于刻意练习的重要性 </a>
                    </div>
                    <div class="ui segment">
                        <a href="#" target="_blank">正态分布为什么常见？ </a>
                    </div>
                    <div class="ui segment">
                        <a href="#" target="_blank">神经网络入门 </a>
                    </div>
                    <div class="ui segment">
                        <a href="#" target="_blank">Koa框架 </a>
                    </div>
                    <div class="ui segment">
                        <a href="#" target="_blank">Spring boot框架 </a>
                    </div>
                    <!--*/-->

                </div>

                <!--二维码-->
                <h4 class="ui horizontal divider header m-margin-tb-large">扫码关注我</h4>
                <div class="ui centered card" style="width: 10em">
                    <img src="../images/wechat.jpg" alt="" class="ui rounded image"
                         th:src="@{/images/wechat.jpg}">
                </div>

            </div>
        </div>
    </div>
</div>
<br>
<br>

<!--底部footer-->
<footer th:fragment="_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img src="../images/wechat.jpg" th:src="@{/images/wechat.jpg}" class="ui rounded image"
                             alt="" style="width:120px">
                    </div>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced ">最新博客</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">我的故事 (My Story) </a>
                    <a href="#" class="item">我的故事 (My Story) </a>
                    <a href="#" class="item">我的故事 (My Story) </a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced ">联系我</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Email：1605532162@qq.com </a>
                    <a href="#" class="item">QQ：1605532162 </a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="m-text-thin m-text-spaced ">Blog</h4>
                <p class="m-text-thin m-text-spaced m-opacity-mini">
                    嗨，我是Jaden，这是我的个人Blog。我将会在这里分享一些关于运动、学习、思考相关的任何内容，希望你们喜欢(❤ ω ❤).....</p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright © 2020 - 2021 jaden Designed by jaden</p>
    </div>

</footer>
<!--/*/<th:block th:replace="_fragments :: script">/*/-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<!--/*/</th:block>/*/-->


<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });
</script>

</body>
</html>